@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <dd>
        <img src="~/css/mo,small,flatlay,product_square,600x600.u2.jpg" style="width:300px; height:300px;" alt="soy cuando no copila :c" />
        <button type="button" class="btn btn-info" onclick="Hobbies()">Mi información personal</button>
        <script>
            function Hobbies() {
                alert("Mi nombre es Vanessa Torres y mi hobbie es caminar");
            }
        </script>
    <h1 class="display-4">Examen de progreso 1</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
